<html>
    <head>
        <title>RESTful Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css"></link>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"></link>
    </head>
    
    <body>
        <div class="ui fixed pointing menu">
            <div class="ui container">
                <div class="header item"><i class="violet code icon large"></i>RESTful Blog</div>
                <a href="/" class="active violet item">Home</a>
                <a href="/blogs/new" class="violet item">New Post</a>
            </div>
        </div>